.header {
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.Navbar {
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: left;
}
h3 {
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-align: center;
}
ul {
    list-style: none;
    overflow: hidden;
}
p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: 75;
}
.footer {
    text-align: center;
}